extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.twitter;

block content
  .l-meta
    h1#header New York Tech Week 2022
    h3#description A week of IRL events thrown by NYC VCs & startups. Register your email to host or attend the events.
    h5 New York Tech Week | A week of IRL events thrown by NYC VCs & startups. Register your email to host or attend the events.

  canvas(id="canvas-webgl", class="p-canvas-webgl")
